<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自動採点システム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>自動採点システム</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                ファイルを選択
            </label>
            <input type="file" id="file-upload" name="files" multiple accept=".pdf, .zip">
            <button type="submit">アップロードして採点</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
